@model BakeryManagement.Models.Customer

@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}
<style>
    h1 {
        color: #dc3545;
    }

    h3 {
        color: #dc3545;
        font-size: 1.5rem;
    }

    h4 {
        color: #333;
        font-size: 1.3rem;
    }

    .row {
        margin-bottom: 10px;
    }

    .col-sm-2 {
        font-weight: bold;
        color: #555;
    }

    .col-sm-10 {
        color: #333;
    }

    .btn {
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 5px;
        margin-right: 10px;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: white;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #4e555b;
        }
</style>
<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa khách hàng này không?</h3>

<div>
    <h4>Thông Tin Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>



