@model BakeryManagement.Models.Cake

@{
    ViewData["Title"] = "Xóa Bánh";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}
<style>
    h1 {
        color: #dc3545;
    }

    h3 {
        font-size: 1.25rem;
        color: #e74a3b;
    }

    h4 {
        color: #333;
        font-size: 1.25rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        margin-top: 20px;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
        margin-left: 10px;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    dl.row {
        margin-bottom: 20px;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 15px;
    }
</style>
<h1>Xóa Bánh</h1>

<h3>Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Thông Tin Bánh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CakeId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Trở Về Danh Sách</a>
    </form>
</div>




